* {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------- HEADER ---------------*/

header {
    background: url("../img/headBack.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#head {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#head nav {
    float: right;
}

#head nav ul {
    list-style-type: none;
}

#head nav ul li {
    display: inline;
    float: left;
    margin-right: 25px;
}

#head nav ul li:last-child {
    margin-right: 0;
}

#head nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #ff6600;
    transition: ease 0.4s;
    border-bottom: 0 solid #ff6600;
}

#head nav ul li a:hover {
    color: #56d5e6;
    border-bottom: 1px solid #56d5e6;
    padding-bottom: 15px;
    transition: ease 0.4s;
}

#head h1,
#head h2,
#head h3 {
    text-transform: uppercase;
    text-shadow: 5px 5px 10px #111;
}

#head h2 {
    margin-top: 450px;
    font-size: 100px;
    font-weight: 800;
    color: #1fa3b0;
    letter-spacing: 15px;
}

#head h3 {
    font-size: 50px;
    color: #fc56a8;
    letter-spacing: 10px;
}

#head h1 {
    font-size: 120px;
    color: #bca557;
    letter-spacing: 15px;
}

/*--------------- SECTION 1 ---------------*/

section#one {
	background-color: #e9f4ff;
}

section#one #history {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    position: relative;
    height: 650px;
}

#history h2 {
	font-size: 35px;
	letter-spacing: 10px;
	font-weight: 600;
	color: #483ab0;
	text-transform: uppercase;
	margin-top: 100px;
	padding-bottom: 10px;
	text-align: right;
}

#history .sec1 {
	display: inline-block;
	width: 680px;
	height: 494px;
	background: url("../img/sec1.png") no-repeat center center;
    background-attachment: fixed;
    background-position: 75px 100px;
	
  }

#history .text-right {
	float: right;
	width: 380px;
	margin: 60px 50px 0 0;
}

#history .text-right p {
	font-size: 18px;
	text-transform: uppercase;
	color: #483ab0;
	line-height: 30px;
	padding-bottom: 20px;
	text-align: right;
	letter-spacing: 2px;
}

/*--------------- SECTION - MIDDLE ---------------*/

section#two {
	background: url("../img/sec2Back.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

section#two #background {
	background-color: rgba(51, 110, 123, 0.8);
}

section#two #quote {
	max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#quote h2 {
	font-size: 60px;
	font-weight: 400;
	color: #efd363;
	text-transform: uppercase;
	text-align: center;
	margin: 240px 0;
	letter-spacing: 10px;
}

/*--------------- SECTION 3 ---------------*/

section#three {
	background-color: #e9f4ff;
	height: 750px;
}

section#three #lebron11 {
	max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#lebron11 h2 {
	font-size: 35px;
	letter-spacing: 10px;
	font-weight: 600;
	color: #23b1bc;
	text-transform: uppercase;
	margin-top: 100px;
	padding-bottom: 10px;
	text-align: left;
}

#lebron11 #text-left {
	width: 380px;
	margin: 60px 0 0 50px;
	float: left;
}

#lebron11 #text-left p {
	font-size: 18px;
	text-transform: uppercase;
	color: #23b1bc;
	line-height: 30px;
	padding-bottom: 20px;
	text-align: left;
	letter-spacing: 2px;
}

#lebron11 .sec3 {
	display: inline-block;
	width: 730px;
	height: 574px;
	background: url("../img/sec3.png") no-repeat center center;
    background-attachment: fixed;
    background-position: 575px 100px;
}

#lebron11 img {
	float: right;
	margin: 60px 50px 0 0;
}

/*--------------- SECTION - TABLE ---------------*/

section#four {
	background-color: #dadfe1;
}

section#four #chart {
	max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#chart h3 {
	text-align: center;
	font-size: 30px;
	color: #2d556f;
	margin: 100px 0 50px;
	text-transform: uppercase;
	font-weight: 400;
}

#chart table {
	margin: 0 auto;
	width: 1080px;
	height: 380px;
	text-align: center;
	border-collapse: collapse;
}

#chart table tr {
	color: #2d556f;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#chart table tr:first-child {
	color: #bf357f;
	font-size: 25px;
}

#chart table tr:nth-child(2n+3) {
	background-color: #cccccc;
}

#chart table td {
	vertical-align: center;
	height: 70px;	
	width: 25%;
}

caption {
	text-align: left;
	caption-side: bottom;
	font-size: 15px;
	color: #bf357f;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	margin: 30px 0 30px 0;
}

caption a {
	color: #bf357f;
	transition: ease 0.4s;
}

caption a:hover {
	color: #2d556f;
	transition: ease 0.4s;
}

/*--------------- SECTION - FORM ---------------*/

section#five {
	background-color: #336672;
}

section#five #shop {
	max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#shop #formular {
	margin: 100px auto 50px;
	width: 500px;
	background-color: #57828e;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #385760;
	box-shadow: 1px 1px 5px #555; 
}

#formular h3 {
	text-align: center;
	font-size: 30px;
	color: #b7e8f3;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 30px;
}

#formular form label {
	color: #b7e8f3;
}

#formular form input {
	border: 1px solid #385760;
	background-color: #57828e;
	border-radius: 3px;
	padding: 10px 0;
	text-indent: 15px;
}

#formular form input:focus {
	border: 1px solid #b7e8f3;
	transition: 0.5s;
	outline: none;
}

/*--------------- Name ---------------*/

#formular form input#first-name {
	width: 233px;
	display: inline-block;
	margin: 10px 20px 20px 0;
}

#formular form input::-webkit-input-placeholder {
	color: #222;
}

#formular form input#last-name {
	width: 233px;
	display: inline-block;
	margin: 10px 0 20px 0;
}

/*--------------- Phone ---------------*/

#formular form .phone-number {
	display: inline-block;
	width: 233px;
	margin-right: 20px;
}

#formular form input#phone {
	width: 233px;
	display: inline-block;
	margin: 10px 20px 20px 0;
}

/*--------------- Address ---------------*/

#formular form .address {
	display: inline-block;
	width: 233px;
}

#formular form input#address {
	width: 233px;
	display: inline-block;
	margin: 10px 20px 20px 0;
}

/*--------------- Email ---------------*/

#formular form .email-address {
	display: inline-block;
	width: 233px;
	margin-right: 20px;
}

#formular form input#email {
	width: 233px;
	display: inline-block;
	margin: 10px 20px 20px 0;
}

/*--------------- Size ---------------*/

#formular form #size-chart {
	display: inline-block;
	width: 233px;
}

#formular form #main-size {
	display: block;
}

#formular form input.size {
	margin: 10px 31px 5px 0;
}

#formular form .shoe-size {
	display: inline-block;
	width: 35px;
}

#formular form .shoe-size label {
	color: #222;
}

/*--------------- Color ---------------*/

#formular form #color {
	margin-top: 20px;
}

#formular form #color #size {
	margin-top: 10px;
}

#formular form select {
	width: 165px;
	padding: 5px 0 5px 5px;
	border: 1px solid #385760;
	background-color: #57828e;
	border-radius: 3px;
	color: #222;
}

#formular form select:focus {
	border: 1px solid #b7e8f3;
	transition: 0.5s;
	outline: none;
}

/*--------------- Textarea ---------------*/

#formular form textarea {
	width: 490px;
	border: 1px solid #385760;
	background-color: #57828e;
	border-radius: 3px;
	color: #222;
	padding: 10px 0 10px 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-indent: 5px;
}

#formular form textarea::-webkit-input-placeholder {
	color: #222;
}

#formular form textarea:focus {
	border: 1px solid #b7e8f3;
	transition: 0.5s;
	outline: none;
}

/*--------------- Submit btn ---------------*/

#formular form input[type="submit"] {
	text-align: center;
	background-color: #b7e8f3;
	color: #333;
	padding: 5px 10px 5px 0; 
}

#formular form input[type="submit"]:hover {
	background-color: #669aa6;
	color: #eee;
	cursor: pointer;
}










